<header>
    <nav>
        <div class="logo">
            <img src="../../assets/images/logo.png" alt="">
            <form #form="ngForm" (submit)="search(form.value)">
                <input type="text" name="Name" id="Name" ngModel placeholder="Search">
                <button>Search</button>
            </form>
        </div>
    
        <ul>
            <li><a  routerLink="/home-page"><img src="../../assets/images/home.png" alt=""></a></li>
            <li><a routerLink="/video"><img src="../../assets/images/video.png " alt=""></a></li>
            <li><a><img src="../../assets/images/marketplace.png" alt=""></a></li>
            <li><a><img src="../../assets/images/friends.png" alt=""></a></li>
        </ul>
        <div id="user">
            <img src="{{image}}">
            <h3>{{Username | titlecase}}</h3>

        </div>
    </nav>
</header>

