
.section1{
    width: 100%; 
    background-color:white;  
    border-radius: 1rem;      
}
.section1 .posts h1{
    color: #0866ff;
}
.section1 .posts{
    padding: 1rem;
}
.section1 .posts ul{
    list-style: none;
}
.section1 .posts ul li{
    margin: 1.3rem 0rem;
}
.section1 .posts .btns{
    background-color: #0866ff;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: .5rem .85rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0rem;
    text-decoration: none;
}


.section1 .posts #button{
    background-color: #0866ff;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: .5rem .85rem;
    font-size: 1rem;
    font-weight: 600;
    margin: -1rem 0rem;
    text-decoration: none;
}

.section1 .posts #button:hover{
    cursor: pointer;
}
.section1 .posts .users{
    display: none;
}


@media screen and (max-width:970px) {
    .section1 {
    flex-direction: column;
    }
    .section1 .posts ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .section1 .posts ul li{
        margin-right: 1rem;
    }
    .section1 .posts #button{
        margin: 0px 0px;
    }
    .section1 .posts .users{
        display: block;
    }
    .section1 .posts h1{
        text-align: center;
    }
}


