.form{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    align-items: center;
    padding: 2rem 0rem;
    border-radius: 1rem;
}
.form input{
    width: 80%;
    height: 1rem;
    background-color: white;
    border: 1.75px solid rgb(201, 199, 199);
    border-radius: .5rem;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
}
.form textarea{
    width: 80%;
    height: 3rem;
    background-color: white;
    border: 1.75px solid rgb(201, 199, 199);
    border-radius: .5rem;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.form button{
    background-color: #0866ff;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .75rem 3rem;
    margin: 1rem ;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

h1{
    text-align: center;
    margin: 1rem;
    color:#0866ff ;
}
h2{
    text-align: center;
    color: red;
}
