<div class="market">

<div class="controls">
    <h1>Posts</h1>
    <div class="button">
    <button *ngIf="!show" (click)="myProducts()" >My Products</button>
    <button *ngIf="show" (click)="getProducts()" >Products</button>

    <button (click)="addProduct()">Add Product</button>
    <button (click)="logout()">logout</button>
    </div>
</div>

<div class="marketplace">
    <div class="section" *ngFor="let product of products" (click)="showProduct(product.id)">
        <h2><img src="{{product.userImage}}" alt=""> {{product.Name|titlecase}}</h2>
        <div class="image">
        <img src="{{product.Image}}" alt="">
        </div>
        <div class="price">
        <h2>{{product.Price | currency:'INR' }}</h2>
        <p>{{product.Description|titlecase}}</p>
        </div>
    </div>
</div>

</div>
