.profile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile img{
    width: 20%;
    margin: 1rem;
    border-radius: 50%;
    border: 2px solid white;
}
.section{
    width: 100%;  
    height: fit-content;
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
   
}
h1{
    text-align: center;
    margin: 2rem;
    margin-bottom: 1rem;
}
h2{
    text-align: center;
    margin: 1rem;
    color: #0866ff;
}
.section .post{
    width: 25%;
    height: fit-content;
    border-radius: 1rem;
    margin: 1rem;
    background-color: white;

}
.section .post .names{
    display: flex;
    padding: .5rem;
    align-items: center;
}
.section .post .names img{
    border-radius: 50%;
    width: 3rem;
    margin: 0rem 1rem;

}
.section .images h3{
    margin: .5rem;
    background-color: white;

}
.section .images .likes img{
width: 2.5rem;
margin: .5rem;
}

.section .images img{
    width: 100%;

}


.section .images .like h3{
    display: flex;
    align-items: center;
   

}
.section .images .like img{

    width: 12%;
    margin: 0rem .5rem;

}

@media screen and (max-width:970px) {
    
   .section .post{
        width: 75%;
    }
   .section .images{
        width: 100%;
    }
   .section .images img{
        width: 100%;
    }
    .section .images h3{
        margin: 1.5rem;
    }
   
.section .images .like img{
    width: 7%;
    margin: 0rem 1rem;
}
.section .images .like h3{
    font-size: 2rem;
    margin: 1rem 3rem;
}
    
}